@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--bg: #101419;
	--fg: #dee1e6;
	--links: #70a5eb;
}

body {
	display: table-cell;
    vertical-align: middle;
	background-color: var(--bg);
	height: 100%;
	font-family: 'Fira Sans Condensed', sans-serif;
}

td {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--fg);
	font-weight: 400;
}

p {
	color: var(--fg);
	font-weight: thin;
}

div {

}

th {
	padding: 1em;
	color: var(--fg);
}

a {
	color: var(--links);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html {
    display: table;
    margin: auto;
    height: 100%;
}

.subtext {
	color: var(--fg);
	text-align: center;
	font-size: 1em;
}

.header {
	text-align: center;
}